/* 旋转动画 */
.pure-animate-spin {
    animation-name: pure-animate-spin;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* keyframes */
@keyframes pure-animate-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}